$body-bg: #f0f0f0;
$font-family-sans-serif: 'Open Sans', sans-serif;
$primary: #e76f51;
$success: #2a9d8f;
$warning: #e9c46a;
$danger: #9b2226;
$info: #457b9d;

@import "~bootstrap/scss/bootstrap";

.btn-outline-primary, .btn-outline-success {
  --bs-btn-hover-color: #FFF !important;
  --bs-btn-active-color: #FFF !important;
}
.btn-primary {
  --bs-btn-color: #FFF !important;
  --bs-btn-hover-color: #FFF !important;
  --bs-btn-active-color: #FFF !important;
}

body {
  min-width: 320px;
  min-height: 100vh;
}

#root {
  min-height: 100vh;
  position: relative;
  padding-bottom: 50px;
}
